<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link th:href="@{/css/bootstrap.min.css}"  href="../../static/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/bootstrap-table.min.css}"  href="../../static/css/bootstrap-table.min.css" rel="stylesheet">
    <script th:src="@{/js/jquery-3.4.1.min.js}"  src="../../static/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <!--<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>-->
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../../static/js/lib/bootstrap-table.min.js" th:src="@{/js/lib/bootstrap-table.min.js}" type="text/javascript"></script>
    <script src="../../static/js/lib/bootstrap-table-zh-CN.min.js" th:src="@{/js/lib/bootstrap-table-zh-CN.min.js}" type="text/javascript"></script>
    <script src="../../static/js/lib/sweetalert.min.js" th:src="@{/js/lib/sweetalert.min.js}"></script>
    <script src="../../static/js/lib/es6-promise.auto.min.js" th:src="@{/js/lib/es6-promise.auto.min.js}"></script>
    <!--<script src="../../static/js/lib/popper.min.js" th:src="@{/js/lib/popper.min.js}"></script>-->
    <script src="../../static/js/common.js" th:src="@{/js/common.js}" type="text/javascript"></script>
</head>
<body onload="init();">

<div id="toolbar" class="btn-group">
    <button id="btn_delete" type="button" class="btn btn-default" onclick="deleteAll();">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
    </button>
    <button id="btn_add" type="button" class="btn btn-default" data-toggle="modal" data-target="#addModal">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
    </button>
</div>

<table id="table">

</table>
    <!-- 模态框（Modal） 图片上传 -->
    <div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="imgModalLabel">
                    图片上传
                </h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data">
                    <div class="form-group">
                        <input id="upload" type="file" class="file" name="file">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
    <!-- 模态框（Modal） 查看 -->
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="viewModalLabel">
                        查看
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <caption>员工基本信息</caption>
                        <tbody>
                        <tr>
                            <td>ID</td>
                            <td id="view_id">xxx</td>
                        </tr>
                        <tr>
                            <td>部门编号</td>
                            <td id="view_depid">xxx</td>
                        </tr>
                        <tr>
                            <td>姓名</td>
                            <td id="view_name">xxx</td>
                        </tr>
                        <tr>
                            <td>性别</td>
                            <td id="view_sex">xxx</td>
                        </tr>
                        <tr>
                            <td>年龄</td>
                            <td id="view_age">xxx</td>
                        </tr>
                        <tr>
                            <td>员工号</td>
                            <td id="view_staffid">xxx</td>
                        </tr>
                        <tr>
                            <td>密码</td>
                            <td id="view_password">xxx</td>
                        </tr>
                        <tr>
                            <td>类别编号</td>
                            <td id="view_type">xxx</td>
                        </tr>
                        <tr>
                            <td>身份证号</td>
                            <td id="view_idcard">xxx</td>
                        </tr>
                        <tr>
                            <td>联系方式</td>
                            <td id="view_phone">xxx</td>
                        </tr>
                        <tr>
                            <td>邮箱</td>
                            <td id="view_email">xxx</td>
                        </tr>
                        <tr>
                            <td>faceid</td>
                            <td id="view_faceid">xxx</td>
                        </tr>
                        <tr>
                            <td>面部标识</td>
                            <img id="view_photo" alt="图片未加载" style="width: 48px; height: 48px; line-height: 48px;">
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 模态框（Modal） 新增 -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 800px">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title text-center" id="addModalLabel">
                        新增
                    </h2>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group has-error">
                            <label class="col-sm-2 control-label">ID</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="add_id">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-sm-2 control-label">部门编号</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="add_depid">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="add_name">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-sm-2 control-label">性别</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="add_sex">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-sm-2 control-label">年龄</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="add_age">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-sm-2 control-label">员工号</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="add_staffid">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-sm-2 control-label">类别号</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="add_type">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-sm-2 control-label">身份证号</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="add_idcard">
                            </div>
                        </div>      <div class="form-group has-error">
                        <label class="col-sm-2 control-label">联系方式</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="add_phone">
                        </div>
                    </div>      <div class="form-group has-error">
                        <label class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="add_email">
                        </div>
                    </div>      <div class="form-group has-error">
                        <label class="col-sm-2 control-label">faceid</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="add_faceid">
                        </div>
                    </div>




                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="add();">添加</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 模态框（Modal） 编辑 -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="editModalLabel">
                        修改用户个人信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group has-success">
                            <label class="col-sm-4 control-label">ID</label>
                            <div class="col-sm-8">
                                <input  class="form-control" type="number" id="edit_id">
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label class="col-sm-4 control-label">部门号</label>
                            <div class="col-sm-8">
                                <input  class="form-control" type="number" id="edit_depId">
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label class="col-sm-4 control-label">姓名</label>
                            <div class="col-sm-8">
                                <input  class="form-control" type="text" id="edit_name">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-sm-4 control-label">性别</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" id="edit_sex" >
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-sm-4 control-label">年龄</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="number" id="edit_age" >
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-sm-4 control-label">员工号</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="number" id="edit_staffid" >
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-sm-4 control-label">密码</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" id="edit_password" >
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-sm-4 control-label">类别号</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="number" id="edit_type" >
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-sm-4 control-label">身份证号</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="number" id="edit_idcard" >
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-sm-4 control-label">联系方式</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="number" id="edit_phone" >
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-sm-4 control-label">邮箱</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" id="edit_email" >
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-sm-4 control-label">faceid</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="number" id="edit_faceid" >
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#imgModal">图片上传</button>
                    <button type="button" class="btn btn-success" onclick="edit();">修改</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
<script>
    // 构造表格
    initTable($('#table'), [10, 25, 100, 100],
        [{
            checkbox: true
        }, {
            field: 'id',
            title: 'ID',
            width: '40px'
        }, {
            field: 'departmentId',
            title: '部门编号',
            width: '40px'
        }, {
            field: 'name',
            title: '员工姓名',
            width: '60px'
        },{
            field: 'sex',
            title: '员工性别',
            width: '30px'
        },{
            field: 'age',
            title: '员工年龄',
            width: '50px'
        },{
            title: '操作',
            width: '100px',
            formatter: operateFormatter // 自定义方法，添加操作按钮
        }]);

    function operateFormatter(value, row, index) {  // 赋予的参数
        return [
            '<button class="btn btn-success view" data-toggle="modal" data-target="#viewModal" onclick="view('+ index +');">查看</button>&nbsp;&nbsp;' +
            '<button class="btn btn-primary view" data-toggle="modal" data-target="#editModal" onclick="initEdit('+ index +');">编辑</button>&nbsp;&nbsp;' +
            '<button class="btn btn-danger view" onclick="deleteOne('+ index +');">删除</button>&nbsp;&nbsp;'
        ].join('');
    }

    // 初始化表格信息
    function init() {
        noParameterPostRequest("/hotel/staff/getall", result => {
            console.info(result);
            let data = { total: result.module.length, rows: result.module };
            $("#table").bootstrapTable("load", data);
    })
    }

    // 删除
    function deleteAll() {
        dialog("确定删除吗？", () => {
            let filNames = $("#table").bootstrapTable('getSelections');
        parameterPostRequest("/hotel/staff/delete-byidlist", filNames.map(item => item.id), () =>
        {
                swal("删除", "文件删除成功", "success");
                init();
        }
    )
    })
    }

    // 查看
    function view(index) {
        let rows = $("#table").bootstrapTable('getData');
        $("#view_id").text(rows[index].id);
        $("#view_depid").text(rows[index].departmentId);
        $("#view_name").text(rows[index].name);
        $("#view_sex").text(rows[index].sex);
        $("#view_age").text(rows[index].age);
        $("#view_staffid").text(rows[index].number);
        $("#view_password").text(rows[index].password);
        $("#view_type").text(rows[index].type);
        $("#view_idcard").text(rows[index].idCardNumber);
        $("#view_phone").text(rows[index].contactPhone);
        $("#view_email").text(rows[index].email);
        $("#view_faceid").text(rows[index].faceId);
        $("#view_photo").text(rows[index].faceToken);
    }

    let editId;
    //修改
    function initEdit(index) {
        let rows = $("#table").bootstrapTable('getData');
        $("#edit_id").val(rows[index].id);
        $("#edit_depId").val(rows[index].departmentId);
        $("#edit_name").val(rows[index].name);
        $("#edit_sex").val(rows[index].sex);
        $("#edit_age").val(rows[index].age);
        $("#edit_staffid").val(rows[index].number);
        $("#edit_password").val(rows[index].password);
        $("#edit_type").val(rows[index].type);
        $("#edit_idcard").val(rows[index].idCardNumber);
        $("#edit_phone").val(rows[index].contactPhone);
        $("#edit_email").val(rows[index].email);
        $("#edit_faceid").val(rows[index].faceId);
        editId = rows[index].number;
    }
    function edit() {
        let data = {
            "id": $("#edit_id").val(),
            "departmentId": $("#edit_depId").val(),
            "name": $("#edit_name").val(),
            "sex": $("#edit_sex").val(),
            "age": $("#edit_age").val(),
            "number": $("#edit_staffid").val(),
            "password": $("#edit_password").val(),
            "type": $("#edit_type").val(),
            "idCardNumber": $("#edit_idcard").val(),
            "contactPhone": $("#edit_phone").val(),
            "email": $("#edit_email").val(),
            "faceId": $("#edit_faceid").val(),
        };
        if ( data.id <=0 || data.departmentId <=0 || data.name == null || data.sex == null || data.age <= 0 || data.number <=0
        || data.password == null || data.type <=0  || data.idCardNumber <=0  || data.contactPhone <=0 || data.email == null || data.faceId <=0) {
            swal("错误", "请输入必输入项！", "error");
        }else {
            parameterPostRequest("/hotel/staff/update-userdo", data, () => {
                $('#editModal').modal('hide');
                swal("正确", "编辑成功", "success");
                init();
        })
        }
    }

    // 添加
    function add() {
        let data = {
            "id": $("#add_id").val(),
            "departmentId": $("#add_depid").val(),
            "name": $("#add_name").val(),
            "sex": $("#add_sex").val(),
            "age": $("#add_age").val(),
            "number": $("#add_staffid").val(),
            "type": $("#add_type").val(),
            "idCardNumber": $("#add_idcard").val(),
            "contactPhone": $("#add_phone").val(),
            "email": $("#add_email").val(),
            "faceId": $("#add_faceid").val(),
        };
        if ( data.id <=0 || data.departmentId <=0 || data.name == null || data.sex == null || data.age <= 0 || data.number <=0
           || data.type <=0  || data.idCardNumber <=0  || data.contactPhone <=0 || data.email == null || data.faceId <=0){
            swal("错误", "请输入必输入项！", "error");
        } else {
            parameterPostRequest("/hotel/staff/add-department", data, () => {
                $('#addModal').modal('hide');
                swal("正确", "添加成功", "success");
                init();
        })
        }
    }
</script>
<script>
    // 图片上传
    $("#upload").fileinput({
        language: 'zh',     // 设置语言
        dropZoneTitle: '可以将图片拖放到这里...',
        uploadUrl: '/hotel/file/upload',
        allowedFileExtensions : ['jpg', 'png'],
        overwriteInitial: false,
        minImageWidth: 50,      // 图片的最小宽度
        minImageHeight: 50,     // 图片的最小高度
        maxImageWidth: 1000,    // 图片的最大宽度
        maxImageHeight: 1000,   // 图片的最大高度
        maxFileSize: 1024,      // 单位为kb，如果为0表示不限制文件大小
        minFileCount: 1,        // 每次上传允许的最少文件数。如果设置为0，则表示文件数是可选的。默认为0
        maxFileCount: 1,        // 每次上传允许的最大文件数。如果设置为0，则表示允许的文件数是无限制的。默认为0
        maxFilesNum: 1,
        uploadExtraData: function() {
            return {
                fileType: "img",
                fileName: "http://111.229.114.126:8087/iszychen/img/roomType/" + editId + ".jpg"
            };
        }
    }).on("fileuploaded", function(e, data) { // 文件上传成功的回调函数
        if (data.response === null) {
            swal("错误", "不支持该文件类型", "success");
            return;
        }

        if (data.response.success === false) {
            switch (data.response.code) {
                case 9002: swal("错误", "参数错误", "error");     break;
                case 9006: swal("错误", "文件创建错误", "error"); break;
            }
        } else {
            let data = {
                id: editId,
                picture: "http://111.229.114.126:8087/iszychen/img/roomType/" + editId + ".jpg"
            };
            parameterPostRequest("/hotel/staff/update-userpic", data, () => {
                $('#imgModal').modal('hide');
                $('#editModal').modal('hide');
                swal("成功", "图片上传成功", "success");
                init();
        })
        }
    });

</script>
</body>
</html>