<!-- Bootstrap core JavaScript
	================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script xmlns:th="http://www.thymeleaf.org" th:src="@{/js/jquery.min.js}"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-fileinput/5.0.1/js/fileinput.min.js"></script>
<script xmlns:th="http://www.thymeleaf.org" th:src="@{/vendor/jquery/jquery.min.js}" type="javascript"></script>
<script xmlns:th="http://www.thymeleaf.org" th:src="@{/vendor/popper.js/popper.min.js}" type="javascript"> </script>
<script  xmlns:th="http://www.thymeleaf.org"th:src="@{/vendor/bootstrap/js/bootstrap.min.js}" type="javascript"></script>
<script xmlns:th="http://www.thymeleaf.org" th:src="@{/vendor/jquery.cookie/jquery.cookie.js}" type="javascript"> </script>
<script  xmlns:th="http://www.thymeleaf.org" th:src="@{/vendor/chart.js/Chart.min.js}" type="javascript"></script>
<script xmlns:th="http://www.thymeleaf.org" th:src="@{/vendor/jquery-validation/jquery.validate.min.js}" type="javascript"></script>
<!-- Main File-->
<script xmlns:th="http://www.thymeleaf.org" th:src="@{/js/front.js}" type="javascript"></script>
<script  xmlns:th="http://www.thymeleaf.org" type="javascript" th:src="@{/vendor/bootstrap/js/plugins.js}"></script>
<script xmlns:th="http://www.thymeleaf.org"  type="javascript" th:src="@{/vendor/bootstrap/js/init.js}"></script>
<!-- End page content -->
<!-- end footer lib -->
