<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">

<body>

<nav class="side-navbar" >

		<div class="avatar"><img th:src="@{/img/avatar-1.jpg}" alt="..." class="img-fluid rounded-circle"></div>
		<ul class="list-unstyled">
			<li><a href="/hotel/user/home"><i class="icon-home"></i>主  页</a></li>
			<div shiro:hasPermission="tea:classroomApplication or tea:courseDetails or tea:courseDetails or tea:studentDetails or tea:teachingSchedule">
				<li><a  href="#exampledropdownDropdown1" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>教学管理</a>
					<ul id="exampledropdownDropdown1" class="collapse list-unstyled ">
						<li>
							<a  shiro:hasPermission="tea:classroomApplication"   href="/hotel/teaching/classroom-application">教室申请</a>
						</li>
						<li>
							<a  shiro:hasPermission="tea:lessonDetails"   href="/hotel/teaching/course-details-list">课堂详情</a></li>
						<li>
							<a  shiro:hasPermission="tea:studentDetails"   href="/hotel/teaching/student-details-list">课程详情</a></li>
						<li>
							<a  shiro:hasPermission="tea:studentDetails"   href="/hotel/teaching/student-details-list">学生详情</a></li>
						<li>
							<a  shiro:hasPermission="tea:teachingSchedule"   href="/hotel/teaching/teaching-schedule">
								教学课表</a></li>
						<li>
							<a  shiro:hasPermission="tea:checkAttendance"   href="/hotel/teaching/check-attendance">
								考  勤</a></li>
						
					</ul>
				</li>
				<li><a  href="#exampledropdownDropdown11" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>教学检测</a>

					<ul id="exampledropdownDropdown11" class="collapse list-unstyled ">
						<li>
							<a  shiro:hasPermission="tea:checkState"   href="/hotel/teaching/check-state">学生上课状态检测</a></li>
						<li>
							<a  shiro:hasPermission="tea:fillKnowledge"   href="/hotel/teaching/fill-knowledge-step-a">设置知识点</a></li>
						<li>
							<a  shiro:hasPermission="tea:knowledgeStudyStatement"   href="/hotel/teaching/lesson-knowledge-point-list">知识点学情反馈</a></li>
						<li>
							<a  shiro:hasPermission="tea:fillKnowledge"   href="/hotel/teaching/lesson-knowledge-point-list-a">知识点检测</a></li>
					</ul>
			</div>

			<div shiro:hasPermission="stu:mySchedule or stu:myClassQuality"  >
				<li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>学  习</a>
					<ul id="exampledropdownDropdown" class="collapse list-unstyled ">
						<li><a shiro:hasPermission="stu:mySchedule" class="dropdown-item" href="/hotel/learning/my-schedule">我的课表</a></li>
						<li><a shiro:hasPermission="stu:myClassQuality" class="dropdown-item" href="/hotel/learning/my-class-quality">我的听课质量</a></li>
					</ul>
				</li>
			</div>

			<div shiro:hasPermission="admin:authorityManagement or admin:studentsManagement or admin:classesManagement or admin:classroomsManagement or admin:coursesManagement or admin:teachersManagement or admin:classroomLive or admin:importData or admin:cameraControl">
				<li><a href="#exampledropdownDropdown2" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>权限管理</a>
					<ul id="exampledropdownDropdown2" class="collapse list-unstyled ">
						<li>
							<a shiro:hasPermission="admin:classroomsManagement" class="dropdown-item"  href="/hotel/metadata/building-floor-dm-list">楼宇管理</a>
						</li>
						<li>
							<a shiro:hasPermission="admin:classroomsManagement" class="dropdown-item" href="/hotel/metadata/classroom-dm-list">教室管理</a>
						<li>
							<a shiro:hasPermission="admin:classesManagement" class="dropdown-item" href="/hotel/metadata/academy-classes-dm-list">班级管理</a>
						<li>
							<a shiro:hasPermission="admin:studentsManagement" class="dropdown-item" href="/hotel/metadata/student-dm-list">学生管理</a>
						<li>
							<a shiro:hasPermission="admin:coursesManagement" class="dropdown-item" href="/hotel/metadata/course-dm-list">课程管理</a>
						<li>
							<a shiro:hasPermission="admin:teachersManagement" class="dropdown-item" href="/hotel/metadata/teacher-dm-list">教师管理</a>
						<li>
							<a shiro:hasPermission="admin:classroomLive" class="dropdown-item" href="/hotel/education/classroom-live">视频监测</a>
						<li>
							<a shiro:hasPermission="admin:authorityManagement" class="dropdown-item" href="/hotel/education/authority-management">权限管理</a></li>
						<li>
							<a shiro:hasPermission="admin:roleManagement"class="dropdown-item" href="/hotel/education/authority-role-management">角色管理</a></li>
						<li>
							<a shiro:hasPermission="admin:cameraControl" class="dropdown-item" href="/hotel/education/camera-control">球机管理</a></li>
						<li>
							<a shiro:hasPermission="admin:importData" class="dropdown-item" href="/hotel/education/import-students">导入学生数据</a></li>
						</ul>
			</div>
			<li><a href="/hotel/news/news"> <i class="icon-padnote"></i>通  知</a></li>
			<li><a href="#exampledropdownDropdown3" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>我  的</a>
				<ul id="exampledropdownDropdown3" class="collapse list-unstyled ">
					<li><a href="/hotel/user/my-information">基本信息</a></li>
					<li><a href="/hotel/user/update-password">修改密码</a></li>
					<li><a href="/hotel/user/mobile-authentication">修改手机</a></li>
					<li><a href="/hotel/user/mail-authentication">修改邮箱</a></li>
					<li><a href="/hotel/user/sign-out">注销登录</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</body>
</html>