<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="component/head :: head"></head>

<body>
	<header th:replace="component/fram :: commonHeader"></header>

	<!-- Begin page content -->
	<div class="container">
		<div class="row">
			<div th:replace="component/sidebar"></div>

			<div class="col-md-9">
				<div th:replace="component/page-title::pageTitle('修改手机')"></div>

				<div class="row">
					<div class="col-md-8 offset-md-2">
						<form class="needs-validation" novalidate action="/hotel/user/update-mobile" method="post">
							<div class="form-group row">
								<div class="col-md-3">
									<label class="col-form-label" for="mobileInput">输入新手机号：</label>
								</div>
								<div class="col-md-9">
									<input type="text" class="form-control" id="mobileInput" placeholder="手机号" name="mobile" required />
									<div class="invalid-tooltip">请输入正确的手机号</div>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-md-3">
									<label class="col-form-label" for="validationCodeInput">输入验证码：</label>
								</div>
								<div class="col-md-6">
									<input type="text" class="form-control" id="validationCodeInput" name="captchaFromFront" placeholder="验证码"
									 required />
									 <div class="invalid-tooltip">验证码不能为空</div>
								</div>
								<div class="col-md-3">
									<button type="button" class="btn btn-secondary" id="getValidationCodeBtn">获取验证码</button>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4 offset-md-4">
									<button type="submit" class="btn btn-primary btn-block">下一步</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="component/fram :: commonFooter"></footer>

	<script>
		function getCaptcha() {
			var mobile = document.getElementById("mobileInput").value;
			$.ajax({
				url: "/hotel/restwarpper/send-sms-for-update-mobile",
				type: "POST",
				data: mobile,
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				async: false, //false 同步
				success: function (result) {
					console.log(result);
					if (result.success == false) {
						if (result.code == 1002) {
							alert("无当前用户");
						} else if (result.code == 1003) {
							alert("手机为空");
						} else if (result.code == 9999) {
							alert("系统错误");
						} else if (result.code == 1005) {
							alert("超过发送限制，同一手机号一小时只能发三次");
						}
					} else {
						alert("短信已发送");
					}
				},
				error: function (e) {
					alert("异常,发送失败");
				}
			});
		}

		var countdown = 60;

		function setTime(obj) {
			if (countdown == 0) {
				obj.removeAttribute("disabled");
				obj.innerHTML = "点击获取验证码";
				countdown = 60;
				return;
			} else {
				obj.setAttribute("disabled", true);
				obj.innerHTML = "重新发送(" + countdown + ")";
				countdown--;
			}
			setTimeout(function () {
				setTime(obj)
			}, 1000)
		}

		//正则表达式手机验证
		var getValidationCodeBtn = document.getElementById("getValidationCodeBtn");
		getValidationCodeBtn.addEventListener("click", verify);

		function verify() {
			var pattern = /^(1.[0-9]{9})$/;
			var txt = document.getElementById("mobileInput").value;
			if (!pattern.test(txt)) {
				//验证不通过
				document.getElementById("mobileInput").classList.remove("is-valid");
				document.getElementById("mobileInput").classList.add("is-invalid");
			} else {
				//验证通过
				document.getElementById("mobileInput").classList.remove("is-invalid");
				document.getElementById("mobileInput").classList.add("is-valid");

				setTime(getValidationCodeBtn);
				getCaptcha();
			}
		}
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function() {
		  'use strict';
		  window.addEventListener('load', function() {
		    // Fetch all the forms we want to apply custom Bootstrap validation styles to
		    var forms = document.getElementsByClassName('needs-validation');
		    // Loop over them and prevent submission
		    var validation = Array.prototype.filter.call(forms, function(form) {
		      form.addEventListener('submit', function(event) {
		        if (form.checkValidity() === false) {
		          event.preventDefault();
		          event.stopPropagation();
		        }
		        form.classList.add('was-validated');
		      }, false);
		    });
		  }, false);
		})();
	</script>

	<div th:replace="component/footer-lib"></div>
</body>

</html>