<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="component/head :: head"></head>

<body>
	<header th:replace="component/fram :: commonHeader"></header>
    <br>
    <br>
    <br>
    <br>
	<!-- Begin page content -->
	<div class="container">
		<div class="row">
			<div th:replace="component/sidebar"></div>

			<div class="col-md-9">
				<div th:replace="component/page-title::pageTitle('修改手机成功')"></div>

				<div class="row">
					<div class="col-md-4 offset-md-4">
						<h4 class="mt-5 mb-5 text-center"><i class="fas fa-check"></i>已经完成操作</h4>
						<a class="btn btn-primary btn-block" role="button" href="/hotel/user/home">返回主页</a>
					</div>
				</div>
			</div>
		</div>
	</div>
    <footer th:replace="component/fram :: commonFooter"></footer>

</body>

</html>