<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>身份认证</title>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/paper-css/0.4.1/paper.css" rel="stylesheet">
	<link href="../../static/css/left-side-menu.css" rel="stylesheet" th:href="@{/css/left-side-menu.css}"
	      type="text/css">
	<link href="../../static/fonts/iconfont.css" rel="stylesheet" th:href="@{/fonts/iconfont.css}" type="text/css">
	<link href="../../static/css/head.css" rel="stylesheet" th:href="@{/css/head.css}" type="text/css">
	<script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
	<script src="../../static/js/jquery.slimscroll.min.js" th:src="@{/js/jquery.slimscroll.min.js}"
	        type="text/javascript"></script>
	<script src="../../static/js/left-side-menu.js" th:src="@{/js/left-side-menu.js}" type="text/javascript"></script>
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="../../static/js/footposition.js" th:src="@{/js/footposition.js}" type="text/javascript"></script>
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="text/css">
	<style>

		#canvas {
			display: none;

		}
	</style>
</head>

<body>
<!--人像模态框-->
<div>
	<div aria-hidden="true" aria-labelledby="addModalLabel" class="modal fade" id="submit" role="dialog" tabindex="-1">
		<div class="modal-dialog modal-xl" role="document">
			<div style="text-align: center; height:400px">
				<button aria-label="close" class="close" data-dismiss="modal" type="button">
					<Span aria-hidden="true">&times;</Span>
				</button>
				<video height="320" id="video" show-progress="false" width="480">
				</video>
			</div>
		</div>
		<button aria-label="close" class="close" data-dismiss="modal" id="capture" type="button">
			<Span aria-hidden="true" style="text-align: center">拍摄人像面</Span>
		</button>


		<button aria-label="close" class="close" data-dismiss="modal" id="capture1" style="float: left" type="button">
			<Span aria-hidden="true" style="text-align: center">拍摄国徽面</Span>
		</button>
	</div>
</div>



<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/hotel/index">Alter Hotel</a>

	<ul class="navbar-nav " style="left: 82%;position: absolute;">
		<li>
			<a class="nav-link" href="#"><img src="https://www.easyicon.net/api/resizeApi.php?id=1223096&size=128"
			                                  th:src="@{/img/resizeApi3.png}"
			                                  style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(179deg) brightness(100%) contrast(103%);width: 12 px;height: 11px;width: 15px;height: 16px;"></a>
		</li>
	</ul>

	<ul class="navbar-nav " style="left: 84.5%;position: absolute;">
		<li>
			<a class="nav-link" href="#"><img src="https://www.easyicon.net/api/resizeApi.php?id=1222625&size=128"
			                                  th:src="@{/img/resizeApi2.png}"
			                                  style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(179deg) brightness(100%) contrast(103%);width: 12 px;height: 11px;width: 15px;height: 16px;"></a>
		</li>
	</ul>

	<ul class="navbar-nav " style="left: 87%;position: absolute;">
		<li>
			<a class="nav-link" href="#"><img src="https://www.easyicon.net/api/resizeApi.php?id=1225474&size=128"
			                                  th:src="@{/img/resizeApi1.png}"
			                                  style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(179deg) brightness(100%) contrast(103%);width: 12 px;height: 11px;width: 15 px;height: 16px;"></a>
		</li>
	</ul>

	<ul class="navbar-nav " style="left: 90%;position: absolute;">
		<li>
			<a class="nav-link" href="/hotel/user/sign-in">登录&nbsp&nbsp<img
					src="https://www.easyicon.net/api/resizeApi.php?id=1103533&size=128" th:src="@{/img/user.png}"
					style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(179deg) brightness(100%) contrast(103%);width: 13 px;height: 13px;">
			</a>
		</li>
	</ul>
</nav>
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
	<div class="chartjs-size-monitor"
	     style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
		<div class="chartjs-size-monitor-expand"
		     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
			<div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
		</div>
		<div class="chartjs-size-monitor-shrink"
		     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
			<div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
		</div>
	</div>
	<div class="container">
		<h3 style="color: rgb(135, 106, 32);font-family: 宋体; ">身份证验证</h3>
		<br>
		<h4 style="text-align: center">为了办理入住，请拍照或上传您的二代身份证</h4>
		<hr style="background-color: rgb(135, 106, 32);height: 0.8px;width: 80%;border: none">
		<div class="row" style="margin-right: 10px">
			<div class="card col-md-6 offset-md-3">
				<div class="card-header">
					<h5 style="text-align: center">
						<small>
							<button data-target="#submit" data-toggle="modal">拍照</button>
							或上传人像面
						</small>
					</h5>
				</div>

				<div class="card-body" style="padding: 0">
					<img height="300px" id="canvasx" name="body" width="100%"></img>

					<input type="hidden">
					<canvas height="300px" id="canvas" style="margin-left: 20px" width="540px"></canvas>
					</input>
					<!--					<img src="" width="100%" height="300px" id="newImage1">-->
				</div>
				<div class="card-footer">
					<input accept="image/*" class="form-control" id="fileInpBtn1" type="file">
				</div>
			</div>
		</div>

		<hr style="background-color: rgb(135, 106, 32);height: 0.8px;width: 80%;border: none">

		<div class="row" style="margin: 50px 0">
			<div class="card col-md-6 offset-md-3">
				<div class="card-header">
					<h5 style="text-align: center">
						<!--						<button  onclick="clickMode('myModal')">拍照</button>-->
						<button data-target="#submit" data-toggle="modal">拍照</button>
						或上传国徽面
					</h5>
				</div>
				<div class="card-body" style="padding: 0">
					<img height="300px" id="canvas1" width="100%"></img>
					<!--					<img width="100%" height="300px" id="newImage2" src=""/>-->
				</div>
				<div class="card-footer">
					<input accept="image/*" class="fileInpBtn" id="fileInpBtn2"  id="upload1"  type="file">
				</div>
			</div>
		</div>

		<hr style="background-color: rgb(135, 106, 32);height: 1px;width: 80%;border: none">

		<div class="row" style="margin-bottom: 40px">
			<div class="col-md-12">
				<h5 style="text-align:center"> 身份证信息仅用于入住办理，不得用于任何商业用途</h5>
			</div>
		</div>
		<div class="row" style="margin-bottom: 150px">
			<!--			id="stop"-->
			<button class="btn btn-danger col-md-2 offset-md-5" ng-click="uploadIDver()" id="upload" onclick="submit()"
			        type="button">上传
			</button>
		</div>
	</div>
</main>

<footer
		style="background-color: rgb(231, 231, 231);height: 50px;width: 100%;text-align: center;line-height: 50px;position: fixed;bottom: 0;">
	<p style="color:rgb(151, 150, 150) ;font-size: 12px;font-weight: 600;">ALTER SOFTWARE ©2020 1 25</p>

</footer>
</body>

<script>

    function clickMode(id) {
        $('#' + id).modal({backdrop: 'static', keyboard: false});
    }

    //访问用户媒体设备的兼容方法
    function getUserMedia(constraints, success, error) {
        // console.log("拍照");
        if (navigator.mediaDevices.getUserMedia) {
            //最新的标准API
            navigator.mediaDevices.getUserMedia(constraints).then(success).catch(error);
        } else if (navigator.webkitGetUserMedia) {
            //webkit核心浏览器
            navigator.webkitGetUserMedia(constraints, success, error)
        } else if (navigator.mozGetUserMedia) {
            //firfox浏览器
            navigator.mozGetUserMedia(constraints, success, error);
        } else if (navigator.getUserMedia) {
            //旧版API
            navigator.getUserMedia(constraints, success, error);
        }
    }

    let video = document.getElementById('video');
    let canvas = document.getElementById('canvas');
    let context = canvas.getContext('2d');

    let canvas1 = document.getElementById('canvas');
    let context1 = canvas.getContext('2d');

    function success(stream) {
        //兼容webkit核心浏览器
        let CompatibleURL = window.URL || window.webkitURL;
        //将视频流设置为video元素的源
        console.log(stream);
        mediaStreamTrack = stream;
        //video.src = CompatibleURL.createObjectURL(stream);
        video.srcObject = stream;
        video.play();
    }

    function error(error) {
        console.log(`访问用户媒体设备失败${error.name}, ${error.message}`);
    }

    if (navigator.mediaDevices.getUserMedia || navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia) {
        //调用用户媒体设备, 访问摄像头
        getUserMedia({video: {width: 480, height: 320}}, success, error);
    } else {
        alert('不支持访问用户媒体');
    }

    var str;
    document.getElementById('capture').addEventListener('click', function () {
        context.drawImage(video, 0, 0, 480, 320);
        str = canvas.toDataURL("image/png");
        $("#canvasx").attr("src", str);
        // alert(str);
    });

    document.getElementById('capture1').addEventListener('click', function () {
        context1.drawImage(video, 0, 0, 480, 320);
        var str = canvas1.toDataURL("image/png");
        $("#canvas1").attr("src", str);
        // alert(str);
    });

    document.getElementById('stop').addEventListener('click', function () {

        mediaStreamTrack.getTracks()[0].stop();

    })


</script>
<script>
    var phone;
    $(document).ready(function () {

        console.log("获取手机账号");
        // 获取url上的site参数并且传入表单
        var searchParams = new URLSearchParams(window.location.search);
        phone = searchParams.get('phone');

    });

    function submit() {

        var id64 = $('#canvasx')[0].src;
        // alert(id64);
        // var id642=$('#canvas1')[0].src;
        // // alert(id642);
        // var id643=$('#canvasx').attr('src');
        // alert(id643);
        var userId = getCookie("userId");
        url = "/hotel/checkin/idCard-check";
        if (phone != null) {
            userId = null;
        }
        data = {
            id64: id64,
            customerId: userId,
            phone: phone
        };
        console.log(data);
        parameterPostRequest(url, data);
    }

    // 有参数post请求
    function parameterPostRequest(url, data, callback) {
        $.ajax({
            type: "POST",
            url: url,
            dataType: "json",
            data: JSON.stringify(data),
            traditional: true,
            contentType: "application/json",
            success: function (result) {
                if (result.success === false) {
                    switch (result.code) {
                        case 9001:
                            swal("错误", "数据库错误", "error");
                            break;
                        case 9002:
                            alert("对不起,拍摄不清晰,请上传或更换设备重试");
                            break;
                        case 9005:
                            swal("对不起,识别异常或拍摄身份证拍摄不清晰,请重试");
                            break;
                        case 9006:
                            swal("您的身份信息与账户不符,请上传本人信息");
                            break;
                        case 9007:
                            swal("错误", "文件不存在", "error");
                            break;
                        case 9999:
                            alert("系统错误");
                            break;
                    }
                } else {
                    console.log(result);
                    alert("实名认证成功");
                    if (phone == null) {
                        window.location.href = "/hotel/checkin/step_b";
                    } else {
                        window.location.href = "/hotel/checkin/step_b?phone=" + phone;

                    }
                }
            },
            error: function () {
                swal("错误", "404", "error");
            }
        });
    }


    function getCookie(objName) {//获取指定名称的cookie的值
        var arrStr = document.cookie.split("; ");
        for (var i = 0; i < arrStr.length; i++) {
            var temp = arrStr[i].split("=");
            if (temp[0] == objName)
                return unescape(temp[1]);
        }
    }

    // 图片上传
    $("#upload").fileinput({
        language: 'zh',     // 设置语言
        dropZoneTitle: '可以将图片拖放到这里...',
        uploadUrl: '/hotel/file/upload',
        allowedFileExtensions : ['jpg', 'png'],
        overwriteInitial: false,
        minImageWidth: 50,      // 图片的最小宽度
        minImageHeight: 50,     // 图片的最小高度
        maxImageWidth: 1000,    // 图片的最大宽度
        maxImageHeight: 1000,   // 图片的最大高度
        maxFileSize: 1024,      // 单位为kb，如果为0表示不限制文件大小
        minFileCount: 1,        // 每次上传允许的最少文件数。如果设置为0，则表示文件数是可选的。默认为0
        maxFileCount: 1,        // 每次上传允许的最大文件数。如果设置为0，则表示允许的文件数是无限制的。默认为0
        maxFilesNum: 1,
        uploadExtraData: function() {
            if (phone==null){
                return {fileType: "img", fileName: "http://111.229.114.126:8087/iszychen/img/userInfo/" + customerId + ".jpg"};
            } else {
                return {fileType: "img", fileName: "http://111.229.114.126:8087/iszychen/img/userInfo/" + phone + ".jpg"};

            }
        }
    }).on("fileuploaded", function(e, data) { // 文件上传成功的回调函数
        if (data.response === null) {
            swal("错误", "不支持该文件类型", "success");
            return;
        }

        if (data.response.success === false) {
            switch (data.response.code) {
                case 9002: swal("错误", "参数错误", "error");     break;
                case 9006: swal("错误", "文件创建错误", "error"); break;
            }
        } else {

            $('#imgModal').modal('hide');
            $('#editModal').modal('hide');
            swal("成功", "图片上传成功", "success");
            init();
        }
    });


    // 图片上传
    $("#upload1").fileinput({
        language: 'zh',     // 设置语言
        dropZoneTitle: '可以将图片拖放到这里...',
        uploadUrl: '/hotel/file/upload',
        allowedFileExtensions : ['jpg', 'png'],
        overwriteInitial: false,
        minImageWidth: 50,      // 图片的最小宽度
        minImageHeight: 50,     // 图片的最小高度
        maxImageWidth: 1000,    // 图片的最大宽度
        maxImageHeight: 1000,   // 图片的最大高度
        maxFileSize: 1024,      // 单位为kb，如果为0表示不限制文件大小
        minFileCount: 1,        // 每次上传允许的最少文件数。如果设置为0，则表示文件数是可选的。默认为0
        maxFileCount: 1,        // 每次上传允许的最大文件数。如果设置为0，则表示允许的文件数是无限制的。默认为0
        maxFilesNum: 1,
        uploadExtraData: function() {
            if (phone==null){
                return {fileType: "img", fileName: "http://111.229.114.126:8087/iszychen/img/userInfo/" + customerId + ".jpg"};
            } else {
                return {fileType: "img", fileName: "http://111.229.114.126:8087/iszychen/img/userInfo/" + phone + ".jpg"};

            }
        }
    }).on("fileuploaded", function(e, data) { // 文件上传成功的回调函数
        if (data.response === null) {
            swal("错误", "不支持该文件类型", "success");
            return;
        }

        if (data.response.success === false) {
            switch (data.response.code) {
                case 9002: swal("错误", "参数错误", "error");     break;
                case 9006: swal("错误", "文件创建错误", "error"); break;
            }
        } else {

            $('#imgModal').modal('hide');
            $('#editModal').modal('hide');
            swal("成功", "图片上传成功", "success");
            init();
        }
    });
</script>
</html>
