 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head lang="en">
        <title>Alter Hotel</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, ">
        <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <link href="../../static/css/model-home.css" th:href="@{/css/model-home.css}" rel="stylesheet">
        <link href="../../static/css/coolest.css" th:href="@{/css/coolest.css}" rel="stylesheet">
        <script src="../../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
        <script src="../../static/js/popper.js" th:src="@{/js/popper.js}"></script>
        <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
      </head>

 <body>
     <div class="wrapper clearfix">
         <div class="content" style="padding-bottom:300px ;">
             <!-- 灰色导航栏 -->
             <nav class="navbar navbar-top navbar-default " role="navigation" style="padding: 0px 20px;height: 25px;">
                 <a href="# ">
                     <span class="navbar-brand">Alter</span>
                     <span class="navbar-brand" style="margin-left:-2%;color: tomato;">Server</span>
                 </a>
                 <ul class="nav navbar-nav navbar-right ">
                     <li><a th:href="@{/user/sign-up}"><span class="glyphicon glyphicon-user "></span>注册</a> </li>
                     <li><a th:href="@{/user/sign-in}"><span class="glyphicon glyphicon-log-in "></span> 登录</a></li>
                 </ul>
             </nav>
             <!-- logo -->
             <div class="container-fluid"
                 style="display: flex;justify-content: center;align-items: center;height: 41px;margin-bottom: 25px;">
                 <img  th:src="@{/img/2124.png}" width="214.8px" height="33px">
             </div>
             <!-- 黑色导航栏 -->
             <nav class="navbar navbar-default " role="navigation"
                 style="background-color: rgb(61, 61, 61);border-radius:0">
                 <ul class="map-nav-ul">
                     <li class="map-nav-li"><a href="">酒店&旅游胜地</a> </li>
                     <li class="map-nav-li"><a href="">特惠价格</a> </li>
                     <li class="map-nav-li"><a href="">婚礼&庆席</a> </li>
                     <li class="map-nav-li"><a href="">社交</a> </li>
                 </ul>
             </nav>

             <!-- 主体开始 -->
             <div class="container-fluid">
                 <h2 style="margin-top: 5px" class="h-colora">Alter Hotel介绍</h2>
                 <hr class="hr-a">
                <div class="row">
                    <div class="col-md-12" style="background-image: url('/hotel/img/backgroud-1.png');height:400px;background-position: center;background-size: cover;"></div>
                </div>
                <h2 style="text-align: center;font-family: 宋体;margin-top: 50px;margin-bottom: 25px;">关于我们</h2>
                <hr style="width: 80%;height: 1px;background-color: rgb(124, 91, 6); border: none;">
                <div class="row" style="margin-bottom: 100px;">
                    <div class="col-md-10 col-md-offset-1">
                        <h3 style="font-family: 宋体;text-align: center;">
                            Alter Hotel是Alter Server集团中最大的连锁旅馆品牌，Alter Hotel从创建以来一直维持着高品质形象，在世界上的Alter Hotel多半被
                            当地机关评为五星级酒店，我们在世界上最有吸引力的繁华城市与度假村中都留有足迹。Alter Hotel为众多休闲度假者们提供者宾至如归的服务
                            。
                        
                        </h3>
                    </div>
                </div>
             </div>


             <div class="footer">
                 <ul class="ul-bottom" style="color: white;">
                     <li class="lead">酒店预订</li>
                     <li>列表预订</a></li>
                     <li>地图预订</li>
                     <li>城市预订</li>
                     <li>搜索我们</li>
                 </ul>

                 <ul class="ul-bottom" style="color: white;">
                     <li class="lead">合作加盟</li>
                     <li>商务合作</li>
                     <li>招标信息</li>
                     <li>供应商名录</li>
                     <li>合作通道</li>
                 </ul>

                 <ul class="ul-bottom" style="color: white;">
                     <li class="lead">关于我们</li>
                     <li>联系我们</li>
                     <li>友情链接</li>
                     <li>投资者关系</li>
                     <li>Alter Server</li>
                 </ul>

                 <ul class="ul-bottom" style="color: white;">
                     <li class="lead">Alter Hotel 微博</li>
                     <li>官方微博</li>
                     <li>投诉建议</li>
                     <li>联盟微博</li>
                     <li>315微博</li>
                 </ul>

             </div>
         </div>

 </body>

 </html>