<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="component/head :: head">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<header th:replace="component/fram :: commonHeader"></header>

<div class="container" th:replace="component/fram :: commonMenu"></div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <iframe frameborder="no" height="600px" th:src="@{/menuinfo/show-menusadmintable}" width="100%"></iframe>
</main>

<footer th:replace="component/fram :: commonFooter"></footer>


</body>
</html>