<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
	<title>Alter Hotel</title>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, " name="viewport">
	<link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link href="../../static/css/model-home.css" rel="stylesheet" th:href="@{/css/model-home.css}">
	<script src="../../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script src="../../static/js/node_modules/@popperjs/core/dist/umd/popper.js" th:src="@{/js/popper.js}"></script>
	<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<div class="wrapper clearfix">
	<div class="content" style="padding-bottom:300px ;">
		<!-- 灰色导航栏 -->
		<nav class="navbar navbar-top navbar-default " role="navigation" style="padding: 0px 20px;height: 25px;">
			<a href="# ">
				<span class="navbar-brand">Alter</span>
				<span class="navbar-brand" style="margin-left:-2%;color: tomato;">Server</span>
			</a>
			<ul class="nav navbar-nav navbar-right ">
				<li><a href="# "><span class="glyphicon glyphicon-user "></span>注册</a></li>
				<li><a href="# "><span class="glyphicon glyphicon-log-in "></span> 登录</a></li>
			</ul>
		</nav>
		<!-- logo -->
		<div class="container-fluid"
		     style="display: flex;justify-content: center;align-items: center;height: 41px;margin-bottom: 25px;">
			<img height="33px" th:src="@{/img/2124.png}" width="214.8px">
		</div>
		<!-- 黑色导航栏 -->
		<nav class="navbar navbar-default " role="navigation"
		     style="background-color: rgb(61, 61, 61);border-radius:0">
			<ul class="map-nav-ul">
				<li class="map-nav-li"><a href="">酒店&旅游胜地</a></li>
				<li class="map-nav-li"><a href="">特惠价格</a></li>
				<li class="map-nav-li"><a href="">婚礼&庆席</a></li>
				<li class="map-nav-li"><a href="">社交</a></li>
			</ul>
		</nav>

		<!-- 主体开始 -->
		<div class="container-fluid">
			<h2 style="margin-top: 5px;text-align: center;">餐厅</h2>
			<hr style="border-top:1px solid black;align-items: center;width: 90%;"/>
			<div class="row">
				<div
						style="width: 100%;height: 300px;background-image: url(../../../static/img/food.jpg); background-position: center;background-size: cover;background-repeat: no-repeat;background-attachment: fixed;opacity: 0.9;">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2 style="text-align:center;color: rgb(124, 91, 6);font-family: 宋体;">东西合璧的佳肴</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3 style="text-align: center;font-family: 宋体;">一切令您回味无穷的美味尽在Alter Hotel餐厅/咖啡厅</h3>
				</div>
			</div>
			<hr style="background-color:rgb(124, 91, 6);height: 1px;width:90%;border: none">
			<div class="row">
				<div class="col-md-5 col-md-offset-1"
				     style="height: 400px ; background-position: center;background-size: cover;background-repeat: no-repeat; background-image: url(../../../static/img/food1.jpg);">
				</div>
				<div class="col-md-4 col-md-offset-1">
					<h3 style="color: rgb(124, 91, 6);font-family: 宋体;">想要品尝正宗的西式料理？</h3>
					<h4 style="font-family: 宋体;line-height: 25px;">
						轻舞刀叉，切下一块芳香四溢的肉，缓缓放入口中，迸溅在口腔中的汁水是否是您寻找多时的完美体验？轻抿一口葡萄酒，那柔顺的口感刺激着您的食欲，这时追求极致的您也能一醉于完美的盛宴之中。
					</h4>
					<h4 style="line-height: 25px;font-family: 宋体;">立刻入住Alter Hotel,享受高档西式餐厅的完美佳肴！</h4>
					<a class="btn btn-danger" href="" style="margin-left:20%;margin-top:20px;width: 60%;">立即入住</a>
				</div>
			</div>
			<hr style="background-color:rgb(124, 91, 6);height: 0.8px;width:90%;border: none">
			<div class="row">
				<div class="col-md-4 col-md-offset-1">
					<h3 style="color: rgb(124, 91, 6);font-family: 宋体;">渴望与东方料理来场邂逅？</h3>
					<h4 style="font-family: 宋体;line-height: 25px;">
						神秘的东方料理，最新鲜的食材提供最上等的美味，最丰富的处理方式提供最多样的珍馐，无限中石材迸发出无限的可能性，与我们的主厨近距离接触，享受独一无二的私人定制菜单。</h4>
					<h4 style="line-height: 25px;font-family: 宋体;">立刻入住Alter Hotel,享受纯正东方料理的完美主义！</h4>
					<a class="btn btn-danger" href="" style="margin-left:20%;margin-top:20px;width: 60%;">立即入住</a>
				</div>
				<div class="col-md-5 col-md-offset-1"
				     style="height: 400px;background-image: url(../../../static/img/food2.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;">

				</div>
			</div>
			<hr style="background-color:rgb(124, 91, 6);height: 0.8px;width:90%;border: none">
			<div class="row">
				<div class="col-md-5 col-md-offset-1"
				     style="height: 400px;background-image: url(../../../static/img/food3.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;">
				</div>
				<div class="col-md-4 col-md-offset-1">
					<h3 style="color: rgb(124, 91, 6);font-family: 宋体;">午后悠闲惬意地一品咖啡？</h3>
					<h4 style="font-family: 宋体;line-height: 25px;">
						坐在优雅古典风格的咖啡厅中，沐浴在午后温暖的阳光之中，闭上眼，抿一口香椿咖啡，还有什么事比这更加享受闲暇时光的吗？</h4>
					<h4 style="line-height: 25px;font-family: 宋体;">立刻加盟Alter Hotel会员,享受免费午间咖啡的权益！</h4>
					<a class="btn btn-primary" href=""
					   style="margin-left:20%;margin-top:20px;width: 60%;">立即了解Alter
						Hotel会员权益</a>
				</div>
			</div>
			<hr style="background-color:rgb(124, 91, 6);height: 0.8px;width:90%;border: none">
		</div>


		<div class="footer">
			<ul class="ul-bottom" style="color: white;">
				<li class="lead">酒店预订</li>
				<li>列表预订</a></li>
				<li>地图预订</li>
				<li>城市预订</li>
				<li>搜索我们</li>
			</ul>

			<ul class="ul-bottom" style="color: white;">
				<li class="lead">合作加盟</li>
				<li>商务合作</li>
				<li>招标信息</li>
				<li>供应商名录</li>
				<li>合作通道</li>
			</ul>

			<ul class="ul-bottom" style="color: white;">
				<li class="lead">关于我们</li>
				<li>联系我们</li>
				<li>友情链接</li>
				<li>投资者关系</li>
				<li>Alter Server</li>
			</ul>

			<ul class="ul-bottom" style="color: white;">
				<li class="lead">Alter Hotel 微博</li>
				<li>官方微博</li>
				<li>投诉建议</li>
				<li>联盟微博</li>
				<li>315微博</li>
			</ul>

		</div>
	</div>


</body>

</html>