 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

 <head lang="en">
   <title>Alter Hotel</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, ">
   <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
   <link href="../../static/css/model-home.css" rel="stylesheet" th:href="@{/css/model-home.css}">
   <link href="../../static/css/scenery.css" rel="stylesheet" th:href="@{/css/scenery.css}">
   <!-- 结束添加 -->
   <script src="../../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
   <script src="../../static/js/popper.js" th:src="@{/js/popper.js}"></script>
   <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

 </head>

 <body>
   <div class="wrapper clearfix">
     <div class="content" style="padding-bottom:300px ;">
       <!-- 灰色导航栏 -->
       <nav class="navbar navbar-top navbar-default " role="navigation" style="padding: 0px 20px;height: 25px;">
         <a href="# ">
           <span class="navbar-brand">Alter</span>
           <span class="navbar-brand" style="margin-left:-2%;color: tomato;">Server</span>
         </a>
         <ul class="nav navbar-nav navbar-right ">
           <li><a th:href="@{/user/sign-up}"><span class="glyphicon glyphicon-user "></span>注册</a> </li>
           <li><a th:href="@{/user/sign-in}"><span class="glyphicon glyphicon-log-in "></span> 登录</a></li>
         </ul>
       </nav>
       <!-- logo -->
       <div class="container-fluid"
         style="display: flex;justify-content: center;align-items: center;height: 41px;margin-bottom: 25px;">
         <img th:src="@{/img/2124.png}" width="214.8px" height="33px">
       </div>
       <!-- 黑色导航栏 -->
       <nav class="navbar navbar-default " role="navigation" style="background-color: rgb(61, 61, 61);border-radius:0">
         <ul class="map-nav-ul">
           <li class="map-nav-li"><a href="">酒店&旅游胜地</a> </li>
           <li class="map-nav-li"><a href="">特惠价格</a> </li>
           <li class="map-nav-li"><a href="">婚礼&庆席</a> </li>
           <li class="map-nav-li"><a href="">社交</a> </li>
         </ul>
       </nav>

       <!-- 主体开始 -->
       <div class="container">
         <h2 style="color: rgb(124, 91, 6);text-align: center;font-family: 宋体;">酒店&旅游胜地</h2>
         <hr style="height: 1px;background-color: rgb(124, 91, 6); border: none;">
         <div class="row">
           <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
             <!-- Indicators -->
             <ol class="carousel-indicators">
               <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
               <li data-target="#carousel-example-generic" data-slide-to="1"></li>
               <li data-target="#carousel-example-generic" data-slide-to="2"></li>
             </ol>

             <!-- Wrapper for slides -->
             <div class="carousel-inner" role="listbox">
               <div class="item active">
                 <img th:src="@{/img/h.png}" style="width: 100%;height: 500px;">
                 <div class="carousel-caption">
                   ...
                 </div>
               </div>
               <div class="item">
                 <img th:src="@{/img/a.png}" style="width: 100%;height: 500px;">
                 <div class="carousel-caption">
                   ...
                 </div>
               </div>
               <div class="item">
                 <img th:src="@{/img/b.png}" style="width: 100%;height: 500px;">
                 <div class="carousel-caption">
                   ...
                 </div>
               </div>

             </div>

             <!-- Controls -->
             <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
             </a>
             <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
             </a>
           </div>
         </div>
         <div class="row">
           <h2 style="color: rgb(124, 91, 6);text-align: center;font-family: 宋体;">令您享受最值得的价格</h2>
         </div>
         <div class="row">
           <div style="text-align: center;">
             <h3>提前预订可享更多优惠</h3>
           </div>
         </div>
         <div class="row">
           <div style="margin-top: 15px;margin-bottom: 15px;" class="col-md-2 col-md-offset-5">
             <a href=""><button class="btn btn-primary col-md-12" type="button">立即了解</button></a>
           </div>
         </div>
         <hr style="height: 1px;background-color: rgb(124, 91, 6); border: none;">
         <div class="row">
           <div class="col-md-4 col-md-offset-1">
             <h2 style="color: rgb(124, 91, 6);font-family: 宋体;margin-bottom: 25px;">加盟Alter Hotel会员</h2>
           </div>
         </div>
         <div class="row">
           <div class="col-md-6">
             <img th:src="@{/img/mem.jpg}" style="width: 100%;">
           </div>
           <div class="col-md-5 col-md-offset-1">
             <h2 style="color: rgb(124, 91, 6);">加盟Alter Hotel会员</h2>
             <h3>成为Alter Hotel会员，您在每次入住时都能享受到额外待遇。特殊的招待方式，额外的预订周期等。</h3>
             <a class="btn btn-primary col-md-10 col-md-offset-1" style="margin-top:50px">了解权限</a>
           </div>
         </div>
         <hr style="height: 1px;background-color: rgb(124, 91, 6); border: none;margin-top: 50px;">
         <div class="row">
           <div class="col-md-4 col-md-offset-8">
             <h2 style="color: rgb(124, 91, 6);font-family: 宋体;margin-bottom: 25px;">享受我们独特的度假村</h2>
           </div>
         </div>
         <div class="row">
           <div class="col-md-5 ">
             <h2 style="color: rgb(124, 91, 6);">享受我们独特的度假村</h2>
             <h3>Alter Hotel酒店及度假村结合了现代设计，精致的设施和个性化的服务，为您提供卓越的旅行体验。</h3>
             <button class="btn btn-danger" type="button" style="margin-top: 50px;width: 90%;" data-toggle="collapse"
               data-target="#collapsed" aria-expanded="false" aria-controls="collapsed">点击以此获取更多信息了解</button>
           </div>
           <div class="col-md-6 col-md-offset-1">
             <img th:src="@{/img/sight.jpg}" style="width: 100%;">
           </div>
         </div>
         <hr style="height: 1px;background-color: rgb(124, 91, 6); border: none;margin-top: 50px;">
         <!-- 省略 -->
         <div class="collapse" id="collapsed">
           <div class="container col-md-12 col-sm-12">
             <div class="row">
               <div class="hide1-p col-md-4 col-sm-4">
                 <img style="width: 100%;" th:src="@{/img/h1.jpg}">
               </div>
               <div class="hide1-p col-md-4 col-sm-4">
                 <img style="width: 100%;" th:src="@{/img/h2.jpg}">
               </div>
               <div class="hide1-p col-md-4 col-sm-4">
                 <img style="width: 100%;" th:src="@{/img/h3.jpg}">
               </div>
             </div>
             <div class="row">
               <div class="col-md-4 col-sm-4">
                 <h5 style="text-align: center;">海边小屋</h5>
               </div>
               <div class="col-md-4 col-sm-4">
                 <h5 style="text-align: center;">山涧行船</h5>
               </div>
               <div class="col-md-4 col-sm-4">
                 <h5 style="text-align: center;">沙滩小憩</h5>
               </div>
             </div>
             <div class="row">
               <div class="hide1-p col-md-4 col-sm-4">
                 <img style="width: 100%;" th:src="@{/img/h4.jpg}">
               </div>
               <div class="hide1-p col-md-4 col-sm-4">
                 <img style="width: 100%;" th:src="@{/img/h5.jpg}">
               </div>
               <div class="hide1-p col-md-4 col-sm-4">
                 <img style="width: 100%;" th:src="@{/img/h6.jpg}">
               </div>
             </div>
             <div class="row">
               <div class="col-md-4 col-sm-4">
                 <h5 style="text-align: center;">海岩眺望</h5>
               </div>
               <div class="col-md-4 col-sm-4">
                 <h5 style="text-align: center;">享饮香槟</h5>
               </div>
               <div class="col-md-4 col-sm-4">
                 <h5 style="text-align: center;">篝火晚会</h5>
               </div>
             </div>
             <hr style="height: 1px;background-color: rgb(124, 91, 6); border: none;margin-top: 50px;">
           </div>
         </div>
         <!-- continue -->
         <div style="background-color: rgb(236, 236, 236);padding: 0 50px;">
           <div class="row">
             <div class="col-md-12 col-sm-12">
               <h1 style="text-align:center; color: rgb(124, 91, 6);font-family: 宋体;">激动人心的目的地</h1>
             </div>
           </div>
           <div class="row">
             <div class="col-md-12 col-sm-12">
               <h3 style="text-align:center;margin-top: 20px;">探索世界各地备受欢迎的门户城市和休闲目的地。</h3>
             </div>
           </div>
           <div class="row" style="margin-top: 50px;">
             <div class="col-md-3 col-sm-3 ">
               <img style="width: 100%;" class="gg" th:src="@{/img/c1.jpg}">
               <div class="black-shadow"></div>
               <p class="span-1">DUBAI</p>
             </div>
             <div class="col-md-3 col-sm-3 ">
               <img style="width: 100%;" class="gg" th:src="@{/img/c2.jpg}">
               <div class="black-shadow"></div>
               <p class="span-1">PARIS</p>
             </div>
             <div class="col-md-3 col-sm-3 ">
               <img style="width: 100%;" class="gg" th:src="@{/img/c3.jpg}">
               <div class="black-shadow"></div>
               <p class="span-1">LONDON</p>
             </div>
             <div class="col-md-3 col-sm-3 ">
               <img style="width: 100%;" class="gg" th:src="@{/img/c4.jpg}">
               <div class="black-shadow"></div>
               <p class="span-1">VENICE</p>
             </div>
           </div>
         </div>
       </div>

       <div class="footer">
         <ul class="ul-bottom" style="color: white;">
           <li class="lead">酒店预订</li>
           <li>列表预订</li>
           <li>地图预订</li>
           <li>城市预订</li>
           <li>搜索我们</li>
         </ul>

         <ul class="ul-bottom" style="color: white;">
           <li class="lead">合作加盟</li>
           <li>商务合作</li>
           <li>招标信息</li>
           <li>供应商名录</li>
           <li>合作通道</li>
         </ul>

         <ul class="ul-bottom" style="color: white;">
           <li class="lead">关于我们</li>
           <li>联系我们</li>
           <li>友情链接</li>
           <li>投资者关系</li>
           <li>Alter Server</li>
         </ul>

         <ul class="ul-bottom" style="color: white;">
           <li class="lead">Alter Hotel 微博</li>
           <li>官方微博</li>
           <li>投诉建议</li>
           <li>联盟微博</li>
           <li>315微博</li>
         </ul>

       </div>
     </div>
   </div>
 </body>

 </html>