.floor-list{
    /*display: none;*/
}
.floor-wrapper{
    width: 100%;
    height: auto;
    padding: 10px 10px ;
    margin-bottom: 60px;
    background-image:url(http://file02.16sucai.com/d/file/2014/0915/66ef3139fe4ffdf756025ba3fe4ae500.jpg);
    display: block;
    filter: brightness(1.1);
}
.floor-item{
    width: 99.8%;
    height: 1000px;
    background-color: white;

}
.floor-img1 .floor-img2 .floor-img3>img{
    width: 280px;
    height: 140px;
    margin: auto;
}





