.black-shadow {
    height: 100px;
    background-color: black;
    opacity: 0.3;
    position: relative;
    bottom: 100px;
    transition-duration: 1s;
    transition-property: all;
}

.gg:hover+.span-1{
   font-size: 50px;
}

.gg:hover+.black-shadow {
   height: 150px;
   bottom: 150px;
}

.span-1 {
    color: white;
    text-align: center;
    font-size: 25px;
    position: relative;
    bottom: 200px;
    transition-duration: 1s;
    transition-property: all;
}