.lived{
    height: 80px;
    background-color: lightgray;
    border: black solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    margin-right:1% ;
    border-radius: 5px 5px 5px 5px;
}
.lived1{
    height: 80px;
    background-color: rgb(134, 224, 134);
    border: black solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    margin-right:1% ;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    padding: 0 0;
    box-shadow: 1px 1px 5px 1px;
}
.lived2{
    height: 80px;
    background-color:rgb(252, 252, 189);
    border: black solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    margin-right:1% ;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    padding: 0 0;
    box-shadow: 1px 1px 5px 1px;
}
.lived3{
    height: 80px;
    background-color:rgb(240, 102, 102);
    border: black solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    margin-right:1% ;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    padding: 0 0;
    box-shadow: 1px 1px 5px 1px;
}

.example-a{
    height: 80px;
    margin-right: 1%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(134, 224, 134);
    border: black solid 1px;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    padding: 0 0;
    text-align: center;
    box-shadow: 1px 1px 5px 1px;
}

.example-b{
    height: 80px;
    margin-right: 1%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(252, 252, 189);
    border: black solid 1px;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    padding: 0 0;
    box-shadow: 1px 1px 5px 1px;
}

.example-c{
    height: 80px;
    margin-right: 1%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 102, 102);
    border: black solid 1px;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    padding: 0 0;
    text-align: center;
    box-shadow: 1px 1px 5px 1px;
}


