.titlePicture {
    height: 300px;
}

.titleHotel {
    letter-spacing: 10px;
}

.titleAlter {
    margin-left: 2%;
}

.modeltitle {
    margin-top: 30px;
}

.modeltitle h2 {
    letter-spacing: 5px;
    color: rgb(109, 85, 26);
}

.modeltext {
    margin-top: 15px;
}

.model2 {
    background-color: rgb(0, 228, 228);
}

.h5-hidden {
    text-align: center;
}

.model3 {
    background-color: rgb(240, 240, 240);
    padding-top: 50px;

}

.span-1 {
    color: white;
    text-align: center;
    font-size: 25px;
    position: relative;
    bottom: 200px;
    transition-duration: 1s;
    transition-property: all;
}

.black-shadow {
    height: 100px;
    background-color: black;
    opacity: 0.3;
    position: relative;
    bottom: 100px;
    transition-duration: 1s;
    transition-property: all;
}

.gg:hover+.span-1{
   font-size: 50px;
}

.gg:hover+.black-shadow {
   height: 150px;
   bottom: 150px;
}

