html{
    height: 100%;
}
body {
  height: 100%;

}


.wrapper {
    min-height: 100%;
    position: relative;
    height: auto;
}

.footer {
    position: absolute;
    bottom: -20px;  
    width: 100%;
    height: 300px;
    clear: both;
    background-color: rgb(41, 41, 41);
}

.clearfix::after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden;
}

.navbar-brand{
    float: left;
}
.navbar-brand-1 {
    float: left;
}



.navbar-brand-1>img {
    display: block
}


.ul-bottom {
    list-style: none;
    line-height: 40px;
    width: 14%;
    display: inline-block;
    text-align: center;
    margin-left: 9%; 
    padding-top: 50px;
    font-size: 16px;
}

.map-nav-ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-nav-li{
    margin-left:30px;
    margin-right: 30px;
    margin-top: 15px;
}

.map-nav-li a{
    color: white;
}


