<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head lang="en">
    <title>Alter Hotel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, ">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/css.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript"></script>
    <script th:src="@{js/popper.js}" type="text/javascript"></script>
    <script th:src="@{js/bootstrap.min.js}" type="text/javascript"></script>
</head>

<body>

<div class="container-fluid ">
    <!-- 框架 -->
    <nav class="navbar navbar-fixed-top navbar-default " role="navigation" style="padding: 0px 20px;height: 25px;">

        <div class="navbar-header ">

            <a href="# ">
                <p class="navbar-brand">Alter</p>
                <p class="navbar-brand-1">Server</p>
            </a>

        </div>

        <ul class="nav navbar-nav navbar-right ">
            <li><a th:href="@{/user/sign-up}"><span class="glyphicon glyphicon-user "></span>注册</a></li>
            <li><a th:href="@{/user/sign-in}"><span class="glyphicon glyphicon-log-in "></span> 登录</a></li>
        </ul>

    </nav>


    <div class="row">
        <div class="header">
            <img src="img/2124.png" width="214.8px" height="33px">
        </div>
    </div>

    <div class="row">
        <div class="navbar-2 ">
            <nav class="navbar navbar-default " role="navigation"
                 style="background-color: rgb(61, 61, 61);border-radius:0">
                <ul class="nav navbar-nav " style="float:none;text-align:center;">
                    <li class="" style="float:none;display:inline-block;margin:0em 25px;"><a href=""
                                                                                             style="color: white;font-family: Montserrat,Verdana,Helvetica,Arial,sans-serif;font-size: 16px;font-weight: 400;">HOTELS
                        & RESORTS</a></li>
                    <li class=" " style="float:none;display:inline-block;margin:0em 25px; "><a href=" "
                                                                                               style="color: white;font-family: Montserrat,Verdana,Helvetica,Arial,sans-serif;font-size: 16px;font-weight: 400; ">OFFERS</a>
                    </li>
                    <li class=" " style="float:none;display:inline-block;margin:0em 25px; "><a href=" "
                                                                                               style="color: white;font-family: Montserrat,Verdana,Helvetica,Arial,sans-serif;font-size: 16px;font-weight: 400; ">
                        WEDDINGS & CELEBRATIONS</a></li>
                    <li class=" " style="float:none;display:inline-block;margin:0em 25px; "><a href=" "
                                                                                               style="color: white;font-family: Montserrat,Verdana,Helvetica,Arial,sans-serif;font-size: 16px;font-weight: 400; ">MEETINGS
                        & EVENTS </a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- <footer class="footer">
        </footer> -->


    <!-- 主体 -->
    <div class="div-picture">

        <img src="img/backgroud-1.png " style="width: 100%;height: 100%;">
        <div class="shade"></div>
    </div>

    <div class="div-picture-text">
        <p style=" color: white; font-size: 42px;font-weight: lighter;">体验更尊尚礼待，全因您值得</p>
        <p style="color: white;font-size: 20px;">个性体验：迷人风光，完善设施，卓越服务，非凡体验——让会议与活动创造更多价值。</p>
    </div>

    <div class="div-picture-list">
        <button class="block-flat " style="left: 8%;border:1.5px solid lightgray ;"><span
                class="glyphicon glyphicon-cutlery" style="font-size: 50px;"></span>
            <P>餐厅</P>

        </button>
        <button class="block-flat" style="left: 31%;border:1.5px solid lightgray ;"><span
                class="glyphicon glyphicon-calendar" style="font-size: 50px;"></span>
            <p>酒店</p>

        </button>
        <button class="block-flat" style="left: 54%;border:1.5px solid lightgray ;"><span
                class="glyphicon glyphicon-heart-empty" style="font-size: 50px;"></span>
            <p>健康</p>

        </button>
        <button class="block-flat" style="left: 77%;border:1.5px solid lightgray ;"><span
                class="glyphicon glyphicon-globe" style="font-size: 50px;"></span>
            <p>地图</p>

        </button>

    </div>


    <div class="div-main-one">
        <div class="text-one">智能化、科技化的服务 , 人性化、多元化的功能</div>

        <div class="mode-one">
            <img src="img/media-2.jpg" style="width: 626.3px;height: 351px;position:absolute;top: 60px;left: 50px;">
            <div class="introduction-one">

                <p style="font-size: 28px;font-weight: lighter;margin-bottom: 20px;">自助化服务助您便捷入住</p>
                <p style="font-size: 18px; font-weight: lighter;">取自然之沉静，集科技之灵动，帝王般享受</p>

            </div>

        </div>

    </div>

    <div class="div-main-two">
        <img src="img/media-1.jpg" style="width: 626.3px;height: 351px;position:absolute;top: 60px;right: 50px;">
        <div class="introduction-two">
            <p style="font-size: 28px;font-weight: lighter;margin-bottom: 20px;">自助化服务助您便捷入住
            </p>
            <p style="font-size: 18px; font-weight: lighter;">取自然之沉静，集科技之灵动，帝王般享受</p>
        </div>
    </div>

    <div class="bottom-div">
        <ul class="ul-bottom" style="color: white;">
            <li class="lead">酒店预订</li>
            <li>列表预订</a></li>
            <li>地图预订</li>
            <li>城市预订</li>
            <li>搜索我们</li>
        </ul>

        <ul class="ul-bottom" style="color: white;">
            <li class="lead">合作加盟</li>
            <li>商务合作</li>
            <li>招标信息</li>
            <li>供应商名录</li>
            <li>合作通道</li>

        </ul>

        <ul class="ul-bottom" style="color: white;">
            <li class="lead">关于我们</li>
            <li>联系我们</li>
            <li>友情链接</li>
            <li>投资者关系</li>
            <li>Alter Server</li>
        </ul>

        <ul class="ul-bottom" style="color: white;">
            <li class="lead">Alter Hotel 微博</li>
            <li>官方微博</li>
            <li>投诉建议</li>
            <li>联盟微博</li>
            <li>315微博</li>
        </ul>


    </div>

</div>


</body>

</html>