<!DOCTYPE html >
<html lang="en">
<head>
       
    <meta charset="UTF-8">
       <title>Title</title>
</head>
<body>
<H1>支付测试</H1>
<hr>
<div class="form-container">
    <form action="http://111.229.114.126:8088/epay/order/alipay" id="form" method="post">
          *商户订单 :
           <input name="outTradeNo" type="text" value="dzcp100010001"><br>
          *订单名称 :
           <input name="subject" type="text" value="红魔手机"><br>
          *付款金额 :
           <input name="totalAmount" type="text" value="0.1"><br>
          *商品描述 :
           <input name="body" type="text" value="红魔手机 努比亚出品游戏手机"><br>
           <input type="submit" value="支付宝支付">
           <input type="submit" value=" 微信支付">
    </form>


</div>
</body>

<script language="javascript">
    function submitForm(action) {
        document.getElementById("form").action = action;
        document.getElementById("form").submit()
    }
</script>

<style>
    .form-container {
        padding-top: 10px;
    }

    input {
        margin: 10px;

    }
</style>
</html>
