 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head lang="en">
    <title>Alter Hotel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, ">
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../../static/css/model-home.css" th:href="@{/css/model-home.css}" rel="stylesheet">
    <link href="../../static/css/coolest.css" th:href="@{/css/coolest.css}" rel="stylesheet">
    <script src="../../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script src="../../static/js/popper.js" th:src="@{/js/popper.js}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  </head>
 <body>
   <div class="wrapper clearfix">
     <div class="content" style="padding-bottom:280px ;">
       <!-- 灰色导航栏 -->
       <nav class="navbar navbar-top navbar-default " role="navigation" style="padding: 0px 20px;height: 25px;">
         <a href="# ">
           <span class="navbar-brand">Alter</span>
           <span class="navbar-brand" style="margin-left:-2%;color: tomato;">Server</span>
         </a>
         <ul class="nav navbar-nav navbar-right ">
           <li><a th:href="@{/user/sign-up}"><span class="glyphicon glyphicon-user "></span>注册</a> </li>
           <li><a th:href="@{/user/sign-in}"><span class="glyphicon glyphicon-log-in "></span> 登录</a></li>
         </ul>
       </nav>
       <!-- logo -->
       <div class="container-fluid"
         style="display: flex;justify-content: center;align-items: center;height: 41px;margin-bottom: 25px;">
         <img  th:src="@{/img/2124.png}" width="214.8px" height="33px">
       </div>
       <!-- 黑色导航栏 -->
       <nav class="navbar navbar-default " role="navigation" style="background-color: rgb(61, 61, 61);border-radius:0">
         <ul class="map-nav-ul">
           <li class="map-nav-li"><a href="">酒店&旅游胜地</a> </li>
           <li class="map-nav-li"><a href="">特惠价格</a> </li>
           <li class="map-nav-li"><a href="">婚礼&庆席</a> </li>
           <li class="map-nav-li"><a href="">社交</a> </li>
         </ul>
       </nav>

       <!-- 主体内容 -->
       <div class="container-fluid">
         <h2 style="text-align: center;color: rgb(109, 85, 26);font-family: 宋体;">社交活动</h2>
         <hr style="background-color: rgb(109, 85, 26);height: 1px;border:none;width: 90%;">
         <div class="row">
           <div class="col-md-12"
             style="background-image:url('/hotel/img/meeting-title.jpg');height: 400px;background-repeat: no-repeat;background-attachment: fixed;background-position: center;background-size: cover;">
           </div>
         </div>
         <div class="row" style="margin-top: 50px;text-align: center;font-family: 宋体;">
           <h2>与Alter Hotel一同打造专属会宴体验</h2>
         </div>
         <div class="row">
           <div class="col-md-8 col-md-offset-2">
             <h5 style="font-family: 黑体;text-align: center;line-height: 25px;">
               将您每一次的会议与宴会交给我们策划，能助您打造愉快与充满成效的难忘活动体验。</h5>
           </div>
         </div>
         <div class="row" style="margin: 50px 0;">
           <div class="col-md-2 col-md-offset-5">
             <a class="btn btn-danger col-md-12" data-toggle="collapse" data-target="#collapsed" aria-expanded="false"
               aria-controls="collapsed">开始了解</a>
           </div>
         </div>
       </div>
       <!-- 省略 -->
       <div class="container-fluid">
         <div class="collapse" id="collapsed" style="padding-bottom:150px">
           <hr style="height: 1px;background-color: rgb(109, 85, 26);border: none;">
           <h2 style="color: rgb(109, 85, 26);text-align: center;font-family: 宋体;margin-top: 50px;margin-bottom: 80px;">
             探索您的理想组合</h2>
           <div class="container">
             <div class="row">
               <div class="coolest chong"
                 style="width: 30%;height:400px;margin-left:2.5%;margin-right: 2.5%;padding: 10px 10px;">
                 <img th:src="@{/img/meeting-1.jpg}" width="100%">
                 <h4 style="color: rgb(109, 85, 26);font-family: 宋体;margin-top: 15px;">最新优惠</h4>
                 <h5 style="font-family: 黑体;line-height: 25px;margin-top: 22px;">Alter Hotel为您定制一系列尊崇优惠，助您缔造难忘会宴体验。</h5>
               </div>
               <div class="coolest chong" style="width: 30%;height:400px;margin-right: 2.5%;padding: 10px 10px;">
                 <img  th:src="@{/img/meeting-2.jpg}" width="100%">
                 <h4 style="color: rgb(109, 85, 26);font-family: 宋体;margin-top: 15px;">非凡会务体验</h4>
                 <h5 style="font-family: 黑体;line-height: 25px;margin-top:22px;">从团队建设活动到环保倡议，选择“Alter非常体验”计划，带领宾客创造超越会务的美好回忆。</h5>
               </div>
               <div class="coolest chong" style="width: 30%;height:400px;margin-right: 2.5%;padding: 10px 10px;">
                 <img  th:src="@{/img/meeting-3.jpg}" width="100%" height="186px">
                 <h4 style="color: rgb(109, 85, 26);font-family: 宋体;margin-top: 15px;">独特目的地活动体验</h4>
                 <h5 style="font-family: 黑体;line-height: 25px;margin-top: 22px;">选择各国城市及度假酒店的所在地，举办别出心裁的会宴活动，我们将根据每一个目的地的特色，为您定制专业的个性化主题活动。</h5>
               </div>
             </div>
           </div>
           <div class="container" style="margin-top:50px">
             <div class="row">
               <div class=" coolest chong"
                 style="width: 30%;height:400px;margin-left:2.5%;margin-right: 2.5%;padding: 10px 10px;">
                 <img th:src="@{/img/meeting-4.jpg}" width="100%" height="186px">
                 <h4 style="color: rgb(109, 85, 26);font-family: 宋体;margin-top: 15px;">会宴策划奖励</h4>
                 <h5 style="font-family: 黑体;line-height: 25px;margin-top: 22px;">举办会宴时，获得更多奖励。在Alter Hotel举办会宴活动.</h5>
               </div>
               <div class=" coolest chong" style="width: 30%;height:400px;margin-right: 2.5%;padding: 10px 10px;">
                 <img  th:src="@{/img/meeting-5.jpg}" width="100%" height="186px">
                 <h4 style="color: rgb(109, 85, 26);font-family: 宋体;margin-top: 15px;">会议优惠期</h4>
                 <h5 style="font-family: 黑体;line-height: 25px;margin-top: 22px;">预订10间以上客房的会宴活动可享受房价优惠。</h5>
               </div>
               <div class=" coolest chong" style="width: 30%;height:400px;margin-right: 2.5%;padding: 10px 10px;">
                 <img  th:src="@{/img/meeting-6.jpg}" width="100%" height="186px">
                 <h4 style="color: rgb(109, 85, 26);font-family: 宋体;margin-top: 15px;">策划活动</h4>
                 <h5 style="font-family: 黑体;line-height: 25px;margin-top: 22px;">仅需填写一张表格，告知我们您的活动需求，我们的团队将助您策划一切。</h5>
               </div>
             </div>
           </div>
         </div>
       </div>
       <!-- 继续主体 -->
       <div class="container-fluid">
         <div class="row">
           <div style="background-color: rgb(243, 243, 243);height: 500px;">
             <div class="col-md-10 col-md-offset-1"
               style="background-color: white;height: 400px;margin-top: 50px;box-shadow: 1px 1px 5px 0.5px;border: rgb(240, 240, 240) solid 1px;">
               <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                 <div class="container">
                   <div class="col-md-7"
                     style="height: 360px;background-image: url('/hotel/img/meeting-body.jpg');background-position: center;background-size: cover;">
                   </div>
                   <div class="col-md-4" style="margin-left: 3%;">
                     <h2 style="color: rgb(109, 85, 26);font-family: 宋体;">个性体验</h2>
                     <h4 style="font-family: 黑体;line-height: 25px;margin-top: 35px;">
                       从优美的地点与一应俱全的商业设备到卓越的服务与独特的体验，我们在此协助您关注每一个细枝末节，打造成功会宴。</h4>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>





       <div class="footer">
         <ul class="ul-bottom" style="color: white;">
           <li class="lead">酒店预订</li>
           <li>列表预订</a></li>
           <li>地图预订</li>
           <li>城市预订</li>
           <li>搜索我们</li>
         </ul>

         <ul class="ul-bottom" style="color: white;">
           <li class="lead">合作加盟</li>
           <li>商务合作</li>
           <li>招标信息</li>
           <li>供应商名录</li>
           <li>合作通道</li>
         </ul>

         <ul class="ul-bottom" style="color: white;">
           <li class="lead">关于我们</li>
           <li>联系我们</li>
           <li>友情链接</li>
           <li>投资者关系</li>
           <li>Alter Server</li>
         </ul>

         <ul class="ul-bottom" style="color: white;">
           <li class="lead">Alter Hotel 微博</li>
           <li>官方微博</li>
           <li>投诉建议</li>
           <li>联盟微博</li>
           <li>315微博</li>
         </ul>

       </div>
     </div>

 </body>

 </html>