 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

 <head lang="en">
   <title>Alter Hotel</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, ">
   <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
   <link href="../../static/css/model-home.css" th:href="@{/css/model-home.css}" rel="stylesheet">
   <link href="../../static/css/coolest.css" th:href="@{/css/coolest.css}" rel="stylesheet">
   <script src="../../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
   <script src="../../static/js/popper.js" th:src="@{/js/popper.js}"></script>
   <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
 </head>

 <body>
   <div class="wrapper clearfix">
     <div class="content" style="padding-bottom:300px ;">
       <!-- 灰色导航栏 -->
       <nav class="navbar navbar-top navbar-default " role="navigation" style="padding: 0px 20px;height: 25px;">
         <a href="# ">
           <span class="navbar-brand">Alter</span>
           <span class="navbar-brand" style="margin-left:-2%;color: tomato;">Server</span>
         </a>
         <ul class="nav navbar-nav navbar-right ">
           <li><a th:href="@{/user/sign-up}"><span class="glyphicon glyphicon-user "></span>注册</a> </li>
           <li><a th:href="@{/user/sign-in}"><span class="glyphicon glyphicon-log-in "></span> 登录</a></li>
         </ul>
       </nav>
       <!-- logo -->
       <div class="container-fluid"
         style="display: flex;justify-content: center;align-items: center;height: 41px;margin-bottom: 25px;">
         <img th:src="@{/img/2124.png}" width="214.8px" height="33px">
       </div>
       <!-- 黑色导航栏 -->
       <nav class="navbar navbar-default " role="navigation" style="background-color: rgb(61, 61, 61);border-radius:0">
         <ul class="map-nav-ul">
           <li class="map-nav-li"><a href="">酒店&旅游胜地</a> </li>
           <li class="map-nav-li"><a href="">特惠价格</a> </li>
           <li class="map-nav-li"><a href="">婚礼&庆席</a> </li>
           <li class="map-nav-li"><a href="">社交</a> </li>
         </ul>
       </nav>

       <!-- 主体内容 -->
       <div class="container-fluid">
         <h2 style="text-align: center;color: rgb(109, 85, 26);font-family: 宋体;">婚礼&庆席</h2>
         <hr style="background-color: rgb(109, 85, 26);height: 1px;border:none;width: 90%;">
         <div class="row">
           <div class="col-md-12"
             style="background-image:url('/hotel/img/wedding-title.jpg');height: 400px;background-repeat: no-repeat;background-attachment: fixed;background-position: center;background-size: cover;">
           </div>
         </div>
         <div class="row" style="margin-top: 50px;text-align: center;font-family: 宋体;">
           <h2>庆典盛礼，欢乐无限</h2>
         </div>
         <div class="row">
           <div class="col-md-8 col-md-offset-2">
             <h5 style="font-family: 黑体;text-align: center;line-height: 25px;">
               家庭与文化庆典是尊重习俗并加入个人特色的一个场合，更是在传统与新世界之间寻找和谐的一个过程。 在Alter Hotel，我们以现代的方式诠释自古以来的传统仪式，打造一个个意义非凡的庆典活动。</h5>
           </div>
         </div>
         <div class="row" style="margin: 50px 0;">
           <div class="col-md-2 col-md-offset-5">
             <a class="btn btn-danger col-md-12"  data-toggle="collapse" data-target="#collapsed" aria-expanded="false" aria-controls="collapsed">开始了解</a>
           </div>
         </div>
        </div>
         <!-- 省略 -->
          <div class="container-fluid">
         <div class="collapse" id="collapsed" style="border: 1px solid rgb(109, 85, 26);background-color: rgb(250, 250, 250);">
          <div class="row">
            <h2 style="font-family: 宋体;text-align: center;margin-top: 50px;margin-bottom: 40px;">探索您的理想组合</h2>
          </div>
          <div class="row" style="margin-bottom: 80px;">
            <div class="col-md-3 coolest" style="padding-top:15px;margin:0 6.25%;height: 500px;">
              <img th:src="@{/img/wedding-1.jpg}" style="width: 100%;">
              <h4 style="font-family: 宋体;color:rgb(109, 85, 26);font-size: 21px;margin-top: 25px;" >与众不同</h4>
              <h5 style="font-family:黑体;line-height: 20px;margin-top: 25px;">从复杂的都市环境到休闲的海滩风情，无论何处 - 我们都会加倍努力，为您缔造永恒的回忆与难忘的体验。</h5>
            </div>
            <div class="col-md-3 coolest" style="padding-top:15px;margin-right:6.25%;height: 500px;">
              <img th:src="@{/img/wedding-2.jpg}" style="width: 100%;">
              <h4 style="font-family: 宋体;color:rgb(109, 85, 26);font-size: 21px;margin-top: 25px;">蜜月优惠</h4>
              <h5 style="font-family:黑体;line-height: 20px;margin-top: 25px;">Alter Hotel推出一系列尊享优惠，助您打造毕生难忘的蜜月回忆，庆祝您的重要日子。</h5>
            </div>
            <div class="col-md-3 coolest" style="padding-top:15px;margin-right:6.25%;height: 500px;">
              <img th:src="@{/img/wedding-3.jpg}"  style="width: 100%;">
              <h4 style="font-family: 宋体;color:rgb(109, 85, 26);font-size: 21px;margin-top: 25px;">专业策划</h4>
              <h5 style="font-family:黑体;line-height: 20px;margin-top: 25px;">在Alter Hotel，由我们照料活动的整体体验，而您只需尽享美好时光。我们充满热情的活动策划专家经过悉心培训，根据您的喜好，对活动的每一个细节进行策划与定制。</h5>
            </div>
          </div>
         </div>
       </div>

       <div class="footer">
         <ul class="ul-bottom" style="color: white;">
           <li class="lead">酒店预订</li>
           <li>列表预订</a></li>
           <li>地图预订</li>
           <li>城市预订</li>
           <li>搜索我们</li>
         </ul>

         <ul class="ul-bottom" style="color: white;">
           <li class="lead">合作加盟</li>
           <li>商务合作</li>
           <li>招标信息</li>
           <li>供应商名录</li>
           <li>合作通道</li>
         </ul>

         <ul class="ul-bottom" style="color: white;">
           <li class="lead">关于我们</li>
           <li>联系我们</li>
           <li>友情链接</li>
           <li>投资者关系</li>
           <li>Alter Server</li>
         </ul>

         <ul class="ul-bottom" style="color: white;">
           <li class="lead">Alter Hotel 微博</li>
           <li>官方微博</li>
           <li>投诉建议</li>
           <li>联盟微博</li>
           <li>315微博</li>
         </ul>

       </div>
     </div>

 </body>

 </html>